/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgb(255, 95, 0);
    --first-color-light: hsl(29, 80%, 70%);
    --black-color: rgb(0, 9, 44);
    --text-color: rgb(238, 238, 238);
    --body-color: hsl(29, 100%, 99%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --h3-font-size: 1.125rem;
    --smaller-font-size: .75rem;
}


/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== CARD ===============*/

.container {
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.card {
    position: relative;
    width: 256px;
    background-color: var(--black-color);
    padding: 1.25rem 2rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 16px hsla(29, 75%, 8%, .2);
}

.card__img {
    width: 96px;
    border-radius: 50%;
}

.card__border {
    width: 110px;
    height: 110px;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto .75rem;
}

.card__name {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.card__profession {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.card__social {
    width: 200px;
    background-color: var(--first-color);
    padding: .75rem;
    border-radius: 3rem;
    text-align: initial;
    box-shadow: 0 8px 24px hsla(29, 75%, 56%, .3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 18px 18px;
}

.card__social-control {
    position: relative;
    transform-origin: 18px 18px;
    transition: transform .45s ease;
    transform: rotate(0);
    /* transform: rotate(-135deg); */
}

.card__social-toggle {
    display: inline-flex;
    background-color: var(--black-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.card__social-text {
    display: block;
    color: var(--black-color);
    font-weight: bold;
    font-size: var(--smaller-font-size);
}

.card__social-list {
    display: inline-flex;
    column-gap: .75rem;
    transform: rotate(135deg);
    transform-origin: 18px 17px;
}

.card__social-link {
    display: inline-flex;
    background-color: var(--first-color-light);
    color: var(--black-color);
    font-size: 1.25rem;
    padding: 6px;
    border-radius: 50%;
}

.card__social-text,
.card__social-list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 3.1rem;
}

.card__social-text {
    top: .5rem;
}


/* Rotate  social */

.animation .card__social-control {
    transform: rotate(-135deg);
}


/* Up animation */

.card__social.animation {
    animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation {
    0%,
    100% {
        transform: rotate(0);
    }
    50%,
    60% {
        transform: rotate(-3deg);
    }
    88% {
        transform: rotate(1deg);
    }
}


/* Down animation */

.card__social.down-animation {
    animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation {
    0%,
    100% {
        transform: rotate(0);
    }
    50%,
    60% {
        transform: rotate(6deg);
    }
    88% {
        transform: rotate(-1deg);
    }
}


/* footer style */


/* .footer__container {
    width: 200px;
    align-items: center;
    background-color: var(--first-color);
    border-radius: 1rem;
    text-align: center;
    color: var(--text-color);
    display: flex;
    font-size: var(--smaller-font-size);
    align-content: center;
    margin: auto;
    padding: .5rem;
} */